<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/newsletter</property>
        <property name="hibernate.connection.username">newsletter</property>
        <property name="hibernate.connection.password">newsletter</property>
        <!--<property name="hibernate.connection.datasource">newsletterDS</property>-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.use_outer_join">true</property>
        <property name="hibernate.cglib.use_reflection_optimizer">true</property>
        <property name="hibernate.connection.autocommit">false</property>
        <property name="hibernate.show_sql">true</property>

        <property name="current_session_context_class">thread</property>

        <mapping class="pl.net.bluesoft.rnd.newsletter.model.NewsletterCategory"/>
        <mapping class="pl.net.bluesoft.rnd.newsletter.model.NewsletterSubscription"/>
        <mapping class="pl.net.bluesoft.rnd.newsletter.model.NewsletterJob"/>
        <mapping class="pl.net.bluesoft.rnd.newsletter.model.NewsletterJobRecipient"/>

    </session-factory>
</hibernate-configuration>